# Análise de Eficiência de Fretes
Este projeto tem como objetivo analisar dados de distribuição de livros didáticos a partir do **Centro de Distribuição (CD)**, identificando **fretes ineficientes** e propondo **recomendações para otimizar**.

Iremos dividir este projeto em três partes:

- 1. Entendimento e Preparação dos Dados
- 2. Definição de Métricas e Análise Exploratória
- 3. Modelagem e Recomendações

## Entendimento e Preparação dos Dados

Vamos inciar com a inspeção dos dados com objetivo de identificar os formatos, datas, valores nulos, duplicidades e outras inconsistências.

Temos duas bases de dados, são elas:

- `base_informações.csv` que contem as seguintes colunas:

    - **ID_Pedido:** Código único de identificação do pedido;
    - **Data:** Data do pedido;
    - **Modal:** Modal usado para o transporte;
    - **Cidade:** Cidade de destino da entrega;
    - **Valor_pedido:** Valor do pedido.

- `base_pedidos.csv` que contem as seguintes colunas:
    - **ID_Pedido:** Código único de identificação do pedido;
    - **Distância:** Distância entre o CD (Centro de Distribuição) e o cliente (Vamos assumir que a distância está em Km);
    - **Peso_Kg:** Peso em Kilograma do pedido;
    - **Preco_custo:** Preço de custo do pedido, no caso do material dos livros;
    - **Custo_Frete:** Custo do frete.

    Outras informações são: 

    - **Modal de Transporte Dedicado:** consiste na contratação de um veículo exclusivo pelo Centro
    de Distribuição (CD), diretamente com a transportadora, para o transporte de uma carga
    fechada. Esse modal possui uma capacidade máxima de 1.500 kg.
    - **Modal de Transporte Fracionado:** ocorre quando o Centro de Distribuição (CD) encaminha o
    pedido do cliente por meio de uma transportadora. A transportadora realiza a coleta da
    mercadoria e a entrega ao cliente utilizando sua logística já estruturada, consolidando a
    carga com os pedidos de outros clientes atendidos pela transportadora.
    - Por padrão, todos os pedidos têm origem com o modal de entrega Fracionado. 
    O representante comercial da Somos Educação pode realizar uma solicitação ao CD para
    transformar o modal em Dedicado.
    - Toda alteração de modal Fracionado para Dedicado deve ser aprovado pelo time competente no CD.

In [ ]:
import pandas as pd

In [ ]:
df_info = pd.read_csv('./data/Base_informações.csv', sep=',')

df_pedidos = pd.read_csv('./data/Base_Pedidos.csv', sep=';')

In [27]:
df_pedidos.to_csv('./data/Base_informações.csv',sep=';', index=False, encoding="utf-8")

In [24]:
df_pedidos.head()

  ID_Pedido       Data     Modal         Cidade  Valor_pedido
0        F1  19APR2020  Dedicado  Florianopolis         52860
1        F2  16AUG2024  Dedicado  Florianopolis         52920
2        F3  10/nov/24  Dedicado  Florianopolis         56280
3        F4  07AUG2022  Dedicado  Florianopolis         58200
4        F5  14SEP2020  Dedicado  Florianopolis         51180

In [25]:
df_info.head()

  ID_Pedido  Distancia  Peso_Kg  Preco_custo  Custo_Frete
0        F1        812      881        22025         5000
1        F2        868      882        22050         5000
2        F3        864      938        23450         5000
3        F4        828      970        24250         5000
4        F5        797      853        21325         5000